In [30]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:,.3f}'.format

In [31]:
outputs_path = 'outputs/'
experiments_name = 'fastPAES'
seeds = [12, 22, 32, 42, 52]
prompts = [i for i in range(1, 9)]

In [32]:
output_df = pd.DataFrame(columns=['qwk', 'lwk', 'corr', 'rmse', 'mae', 'seed', 'prompt'])
for seed in seeds:
    for prompt in prompts:
        filename = f'../{outputs_path}{experiments_name}/{seed}/best_metrics_prompt{prompt}.csv'
        df = pd.read_csv(filename)
        df['seed'] = seed
        df['prompt'] = prompt
        output_df = pd.concat([output_df, df], ignore_index=True)

/var/folders/7j/d1bzg7hs3931c2d8kcrbhcl80000gn/T/ipykernel_50422/3653187376.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  output_df = pd.concat([output_df, df], ignore_index=True)

In [33]:
output_df

     qwk   lwk  corr  rmse   mae seed prompt
0  0.772 0.549 0.826 0.096 0.076   12      1
1  0.607 0.463 0.709 0.124 0.099   12      2
2  0.585 0.457 0.708 0.211 0.166   12      3
3  0.644 0.519 0.766 0.216 0.167   12      4
4  0.704 0.530 0.792 0.164 0.132   12      5
5  0.639 0.485 0.690 0.179 0.139   12      6
6  0.717 0.486 0.736 0.127 0.100   12      7
7  0.638 0.401 0.688 0.100 0.080   12      8
8  0.745 0.518 0.818 0.099 0.078   22      1
9  0.584 0.422 0.709 0.137 0.109   22      2
10 0.621 0.493 0.699 0.210 0.166   22      3
11 0.640 0.507 0.756 0.212 0.164   22      4
12 0.723 0.558 0.799 0.155 0.126   22      5
13 0.604 0.444 0.702 0.173 0.135   22      6
14 0.724 0.495 0.737 0.124 0.098   22      7
15 0.517 0.291 0.671 0.126 0.105   22      8
16 0.720 0.488 0.800 0.109 0.086   32      1
17 0.570 0.426 0.680 0.133 0.104   32      2
18 0.595 0.468 0.712 0.213 0.167   32      3
19 0.610 0.482 0.748 0.220 0.171   32      4
20 0.730 0.568 0.788 0.155 0.124   32      5
21 0.612 0.448 0.675 0.180 0.141   32      6
22 0.746 0.513 0.754 0.116 0.091   32      7
23 0.576 0.343 0.687 0.114 0.094   32      8
24 0.765 0.546 0.828 0.097 0.076   42      1
25 0.601 0.460 0.691 0.124 0.098   42      2
26 0.591 0.464 0.696 0.216 0.171   42      3
27 0.633 0.504 0.758 0.219 0.170   42      4
28 0.753 0.592 0.796 0.154 0.123   42      5
29 0.616 0.457 0.697 0.174 0.135   42      6
30 0.722 0.490 0.733 0.121 0.095   42      7
31 0.486 0.277 0.675 0.141 0.117   42      8
32 0.736 0.512 0.803 0.097 0.076   52      1
33 0.616 0.470 0.716 0.123 0.098   52      2
34 0.569 0.424 0.692 0.227 0.181   52      3
35 0.634 0.502 0.756 0.216 0.167   52      4
36 0.727 0.571 0.806 0.150 0.120   52      5
37 0.595 0.443 0.689 0.178 0.137   52      6
38 0.709 0.479 0.721 0.124 0.098   52      7
39 0.543 0.313 0.677 0.121 0.101   52      8

In [34]:
output_df.pivot_table(index='prompt', values=['qwk', 'lwk', 'corr', 'rmse', 'mae'], aggfunc=np.mean)

/var/folders/7j/d1bzg7hs3931c2d8kcrbhcl80000gn/T/ipykernel_50422/709197592.py:1: FutureWarning: The provided callable <function mean at 0x1042753a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  output_df.pivot_table(index='prompt', values=['qwk', 'lwk', 'corr', 'rmse', 'mae'], aggfunc=np.mean)

        corr   lwk   mae   qwk  rmse
prompt
1      0.815 0.523 0.079 0.748 0.100
2      0.701 0.448 0.102 0.596 0.128
3      0.701 0.461 0.170 0.592 0.216
4      0.757 0.503 0.168 0.632 0.216
5      0.796 0.564 0.125 0.727 0.155
6      0.691 0.455 0.137 0.613 0.177
7      0.736 0.492 0.096 0.724 0.122
8      0.680 0.325 0.099 0.552 0.120

In [35]:
output_df.mean(axis=0)

qwk       0.648
lwk       0.472
corr      0.735
rmse      0.154
mae       0.122
seed     32.000
prompt    4.500
dtype: object